/* menu overrides */
/*.wy-side-nav-search {
	margin-bottom: 0;
}*/

.wy-side-logo {
	padding: 0.809em 0.809em 0 0.809em;
	background-color: #4d86c1; /*#2980b9;*/
}

.wy-side-nav-search {
	padding-top: 0.5em;
	background-color: #4d86c1;
}

.wy-side-nav-search input[type=text] {
	border-radius: 6px;
}

.wy-nav-top { 
	background-color: #4d86c1;
	line-height: 100%;
	font-size: 150%;
}

li.toctree-l1 > a {
	display: block !important;
}


.wy-menu-vertical li.current > a {
	background-color: #e3e3e3;
	border-top: none;
	border-bottom: none;
	border-right: solid 1px #c9c9c9;
}

.wy-menu-vertical li.current > a:hover {
	background-color: #d6d6d6;
}

.wy-menu-vertical li.current > a.current {
	background-color: #fcfcfc;
	box-sizing: border-box;
	border-bottom: solid 1px #c9c9c9;
	border-top: solid 1px #c9c9c9;
	border-right: none;
	padding-top: 0.3545em;
}

.wy-menu-vertical li .toctree-l2 a {
	padding: 0.4045em 2.427em;
}
.wy-menu-vertical li .toctree-l3 a {
	padding: 0.4045em 3.427em;
}
.wy-menu-vertical li .toctree-l4 a {
	padding: 0.4045em 4.427em;
}

/* only display immediate children of the selected menu item */
.wy-menu-vertical li .toctree-l3, .wy-menu-vertical li .toctree-l4 {
	display: none;
}
.wy-menu-vertical li .current, .wy-menu-vertical .current > ul > li {
    display: block;
}

/* download links at bottom of menu */
.rst-versions .rst-current-version {
	cursor: auto;
	text-align: left;
}
.rst-versions a {
	color: #ffffff !important;
	margin-left: 10px;
}

/* dont force images to 100% on small screens */
.rst-content img {
	width: auto;
}

/* general styles */
.nav-icon {
	font-size: 16px;
}

a.image-reference {
	cursor: default;
}
